<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deepface Facial Recognition</title>
</head>
<body>

<form method="post" action="/deepface" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>

    <h2>Deepface Results:</h2>
    {% if filename %}
       <h3>You submitted:</h3>
        <div>
		<img src="{{ url_for('display_image', filename=filename) }}" height="600" width="600">
	    </div>
        {% if analyzed %}
    <h4>The model says: {{ analyzed }}</h4>
    {% endif %}{% endif %}
</form>

<a href="{{ url_for('index') }}">Return to Homepage</a>

</body>
</html>