<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Sentiment Analysis</title>
</head>
<body>
<form method="post">
    <h2>Enter input text</h2>
    <input type="text" id="input_text" name="text_input">
    <input type="submit" value="Submit">
</form>
    <h2>TextBlog Sentimental Analysis: </h2>
    {% if analyzed %}
       <h3>You entered:</h3>
        <p>{{ display }}</p>
    <h4>The model says: {{ analyzed }}</h4>
    {% endif %}
</form>

<a href="{{ url_for('index') }}">Return to Homepage</a>

</body>
</html>